.contactUs__container{
    padding: 3%;
    background-image: url('../../public/svg/Wave.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  textarea {
    resize: none;
    height: 150px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ddd;
  }
  
  @media (max-width: 500px) {
    form {
      width: 90%;
    }
  }
  