.hero{
    background-image: linear-gradient(to right,rgba(255, 255, 0, 0.252), rgba(255, 0, 0, 0.329), rgba(0, 0, 255, 0.444));
    height: 300px;
    width: 100%;
    color: #2D2D34;
    text-align: center;
    padding: 2%;
    animation: move 10s ease-in-out infinite alternate-reverse;
}

@keyframes move{
    from{
        background-position: right;
        background-size: 400%;
    }
    to{
        background-position: left;
        background-size: 100%;
    }
}

.title-hero{
    font-size: 3rem;
    font-weight: bold;
}


.hero-two{
    padding: 2%;
    display: grid;
    place-content: center;
    gap:2rem;
}

.hero-slider{
    gap:1.5rem;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: #6969dd;
    width: 100%;
}


.hero-img{
    aspect-ratio: 2/3;
}

@media (min-width:530px){
    .hero-two{
       grid-template-columns: 1fr 1fr;
    }

}

.hero-two-content{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
    font-size: clamp(1rem, 0.85rem + 0.75vw, 1.75rem);
    background-image: url('/public/svg/shape1.svg');
    background-repeat: no-repeat;
    background-position: left;
}

.hero-slider::-webkit-scrollbar {
    display: none;
}

@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-1100px);
    }
}

.btn-hero{
    background-color: #2D2D34;
    color: #EFF2F1;
    font-size: 1.2rem;
    margin-top: 2%;
}

.btn-hero:hover{
    background-color: hsla(195, 68%, 58%, 0.753);
    color: #3b3b42;
    font-weight: 700;
}

.hero-two .img-container{
    animation: scroll 10s linear infinite alternate-reverse;
}

.img-container{
    overflow: visible;
    margin: 4%;
    min-width: 250px;
    -webkit-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.75);
}


/* Category Style */
.category-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    gap:1rem;
}

.category_img{
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
}

.category-img-container{
    min-width: 150px;
    -webkit-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.75);
}
.category-img-container:hover{
    transition: transform .5s;
    transform: scale(1.05);
}

@media (min-width:1000px){
    
    .category_img{
        padding: 2%;
        width: 300px;
        aspect-ratio: 2/3;
    }

   
    .category-section{
        display: flex;
        justify-content: center;
        padding: 2%;
        gap:1rem;
    }
}
