.productMain{
    display: grid;
}

.productFilter{
    display: none;
}

.productGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2%;
    gap:.5rem;
}

.productImg{
    width: calc(112% - 25px );
    aspect-ratio: 2/3;
}

.img__container{
    position: relative;
    /* width: 400px; */
}

.productRating{
    position: absolute;
    bottom:55px;
    left: 0;
    background-color: azure;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.4rem;
}

@media (min-width:780px){
    .productGrid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:1rem;
    }
    
    .productMain{
        grid-template-columns: 25% 1fr;
    }
    .productFilter{
        display: flex;
        padding: 5%;
        flex-direction: column;
        gap: 1rem;
    }

}