footer{
    /* height: 40vh; */
    background-color: #2b2d42;
    color: #edf2f4;
    padding: 3%;
}

.list{
    flex-direction: column;
}

.social-icons{
    gap:1rem;
    justify-content: flex-end;
}

@media (min-width:400px){
    .footer-container{
        grid-template-columns: 1fr 1fr 1fr 2fr;
        margin-bottom: 2%;
    }
    
}