.hero{
    background-image: linear-gradient(to right,rgba(255, 255, 0, 0.252), rgba(255, 0, 0, 0.329), rgba(0, 0, 255, 0.444));
    height: 300px;
    width: 100%;
    color: #2D2D34;
    text-align: center;
    padding: 2%;
    animation: move 10s ease-in-out infinite alternate-reverse;
}

@keyframes move{
    from{
        background-position: right;
        background-size: 400%;
    }
    to{
        background-position: left;
        background-size: 100%;
    }
}

.title-hero{
    font-size: 3rem;
    font-weight: bold;
}

.btn-hero{
    background-color: #2D2D34;
    color: #EFF2F1;
    font-size: 1.2rem;
    margin-top: 2%;
}

.hero-two{
    padding: 2%;
    height: 550px;
    place-content: center;
    gap:2rem;
}

.hero-two-content{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    background-image: url('/public/svg/shape1.svg');
    background-repeat: no-repeat;
    background-position: left;
}

.hero-slider{
    height: 100%;
    width: 100%;
    gap:1.5rem;
    overflow-x:scroll;
    scrollbar-width: thin;
    scrollbar-color: #6969dd;
}

.hero-slider::-webkit-scrollbar {
    display: none;
  }
  

.img-container{
    width: 300px;
    height: 400px;
    overflow: visible;
    margin: 2%;
    /* animation: scroll 8s linear 1 reverse;   */
}

.hero-img{
    height: 400px;
    width: 250px;
}

@keyframes scroll{
    from{
        transform: translateX(0);
    }
to{
        transform: translateX(-750px);
    }
}
