@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
html {
  scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

a,a:link{
  text-decoration: none;
  color: #2D2D34;
}

:root{
  font-family: 'Poppins', sans-serif;
  color: #2D2D34;
}

.flex{
  display: flex;
  gap:1rem;
}

.grid{
  display: grid;
}

.grid-col-2{
  grid-template-columns: 1fr 1fr;
}

.grid-col-3{
  grid-template-columns: 1fr 1fr 1fr; 
}

/* Margins */

.m-2{
  margin: 2%;
}

/* Padding */
.p-2{
  padding: 2%;
}

.p-1{
  padding: 1%;
}

.gap-1{
  gap: 1rem;
}

.btn{
  padding: 1% 3%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.justify-between{
  justify-content: space-between;
}

.bold{
  font-weight: bold;
}

.font-sm{
  font-size: 12px;
}

.text-center{
  text-align: center;
}

li{
  color: aliceblue;
}

img{
  width: 100%;
  height: auto;
}